/shelf/
.target
.lein-repl-history
*.iml
*jar
pom.*
out
saved-games
*.db
target
.nrepl-port
.lein*
*.tif
.rebel_readline_history
*.log
*.json
#*resources/*
#*resources.*
*.rebel_readline_history
*.specljs-timestamp


